*{
    font-family: "Avenir";
    margin:0;
    padding:0;
    box-sizing: border-box;
}
h4{
    text-align: left;
    text-transform: capitalize;
}
hr{
    border-radius: 0;
    width:50%;
    margin-top:5px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    text-align: left;
}
.columns-section{
    display:grid;
    margin:0 auto;
    width:75%;
}
.add-user-btn{
    border:none;
    background-color: #3fb9ff;
    width: 100px; 
    height: 40px;
    position:absolute;
    right:0;
    top:5%;
    margin:10px;
    font-size: 14px;
    border-radius: 7px;
    cursor:pointer;
    transition: 0.25s ease-in-out;
    text-indent: 10px;
}
.add-user-btn:hover{
    transition: 0.25s ease-in-out;
    opacity: 1;
}
.add-user-input{
    border:none;
    background-color: #3fb9ff;
    width: 300px; 
    height: 40px;
    position:absolute;
    right:0;
    top:0;
    margin:10px;
    font-size: 14px;
    border-radius: 7px;
    cursor:pointer;
    transition: 0.25s ease-in-out;
    opacity:0.9;
    text-indent: 10px;
    outline:none;
}
.add-user-input::placeholder{
    color:black;
    text-indent: 10px;
}